/* Hide sidebar contents and comments */

#comments,
#related,
#watch7-sidebar-contents,
#watch-discussion,
#secondary {
  display: none !important;
}

ytd-two-column-browse-results-renderer[page-subtype="home"] {
  display: none;
}

/* Center video */

#player.style-scope.ytd-watch {
  margin: 0 auto !important;
}

#main {
  max-width: inherit !important;
  width: inherit !important;
}

#primary {
  margin-left: 0;
}
